<!DOCTYPE html>
<html>
<head>
    <!-- CSS ===================== -->
    <!-- load bootstrap -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"> 
   
    
    <!-- JS ===================== -->
    <script type="text/javascript" src="lib/api-check.min.js"></script>
<script type="text/javascript" src="lib/angular-1.4.7.min.js"></script>
<script type="text/javascript" src="lib/angular-route.min.js"></script>
<script type="text/javascript" src="lib/angular-messages-1.4.4.min.js"></script>
<script type="text/javascript" src="lib/angular-animate-1.4.4.min.js"></script>
<script type="text/javascript" src="lib/angular-sanitize-1.4.6.min.js"></script>
<script type="text/javascript" src="lib/select-0.13.2.min.js"></script>
<script type="text/javascript" src="lib/ui-bootstrap-tpls-0.14.3.min.js"></script>

<script src="lib/bootstrap.min.js"></script>
<script src="lib/json3.min.js"></script>
<script src="lib/ocLazyLoad.min.js"></script>
<script src="lib/loading-bar.min.js"></script>
<script src="lib/metisMenu.min.js"></script>
<script src="lib/angular-touch.min.js"></script>
    
    <!-- load angular -->
    <script type="text/javascript" src="report/report.js"></script>
    <script type="text/javascript" src="report/controller.js"></script>
    <script type="text/javascript" src="report/service.js"></script>
    <script type="text/javascript" src="lib/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="lib/angular-resource.min.js"></script>
    <script src="http://code.angularjs.org/1.2.6/angular.js"></script>
    <style type="text/css">
    .container-fluid{
    height:100px; 
    width:180px;
    position:absolute;
    }
    .row{
   position:absolute;
   left: 200px;
   top:1px;
    }
    .btn{
  position:absolute;
   top:30px;
   right:10px;
    }
    .navbar {
overflow: visible;
margin-bottom: 20px;
color: #956362;
*position: relative;
*z-index: 2;
width: 1200px; 
}
    
    </style>
</head>
<body ng-app="reportExample">
  <div ng-controller="reportController">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Welcome:</a>
      </div>
		<ul class="nav navbar-nav navbar-right">
        <li><a href="#/"><i class="glyphicon glyphicon-home"></i></a>
        <li><a href="#/login" ng-click="logout()"><i class="glyphicon glyphicon-off"></i></a></li></li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
		<div class="row-fluid">
		</div>
		<div class="row-fluid">
				<div id="data-navbar-outer" class="span3 well">
					<ul id="data-navbar" class="nav nav-list">

	<li class="nav-header">Reports</li>

	<ul class="nav nav-list sub-nav-list">
		<li><a href="/rest/report?type=Submitted" id="submitted">
				<span>Submitted</span>
				<span class="pull-right">0</span></a>
		</li>
		<li><a href="/rest/report?type=Rejected" id="rejected-emp">
				<span>Rejected</span>
				<span class="pull-right">0</span></a>
		</li>
		<li><a href="/rest/report?type=Approved" id="approved">
				<span>Approved</span>
				<span class="pull-right">0</span></a>
		</li>
		<li class="divider"></li>
		<li><a href="/rest/report?type=All" id="all-my-reports">
				<span>All Reports</span>
				<span class="pull-right">0</span></a>
		</li>
	</ul>
					</ul>
				</div>
				<div class="row">
			<div class="col-lg-20">
			<table class="table reporttable">
    <tr>
        <td><h3>All Reports</h3></td>
        <td></td>
    </tr>
    <tr ng-repeat="report in btrs">
        <td>{{report.id}}</td>
        <td>{{report.status}}</td>
        <td>{{report.route}}</td>
        <td>{{report.startDate}}</td>
        <td>{{report.endDate}}</td>
        
        <td>
            <a class="btn btn-primary" ui-sref="viewreport({id:report._id})">View</a>
            <a class="btn btn-danger"  ng-click="deleteReport(report)">Delete</a>
        </td>
    </tr>
</table>
			</div>
			</div>
			</div>
			</div>
			</div>
			<div class="btn">
						<a class="btn icon-btn btn-success" ui-sref="#create"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>Add</a>
			</div>
			</body>
			</html>
			