ng-hide {
	display: none;
}

.loader {
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	width: 200px;
	height: 36px;
	text-align: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.st-sort-ascent:before {
	content: '\25B2';
}

.st-sort-descent:before {
	content: '\25BC';
}

.formly-field {
	margin-bottom: 26px;
}

.error-messages {
	position: relative;
}

.error-messages, .message {
	opacity: 1;
	transition: .3s linear all;
}

.message {
	font-size: .8em;
	position: absolute;
	width: 100%;
	color: #a94442;
	margin-top: 2px;
}

.error-messages.ng-enter.ng-enter-active, .message.ng-enter.ng-enter-active
	{
	opacity: 1;
	top: 0;
}

.error-messages.ng-enter, .message.ng-enter {
	opacity: 0;
	top: -10px;
}

.error-messages.ng-leave, .message.ng-leave {
	opacity: 1;
	top: 0;
}

.error-messages.ng-leave-active, .message.ng-leave-active {
	opacity: 0;
	top: -10px;
}

.permit {
	color: white;
	background-color: #428bca;
	border-color: #428bca;
}

.reject {
	color: white;
	background-color: #d9534f;
	border-color: #d9534f;
}

.pending {
	color: white;
	background-color: gray;
	border-color: gray;
}
